.c-footer{
    padding-top: 60px;
    padding-bottom: 60px;
    &__wrapper-columns{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        @include md(){
            padding-top: 10px;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr 0.5fr;
        }
    }
    &__wrapper-items{
        display: flex;
        flex-direction: column;
    }
    &__title-column{
        margin-bottom: 20px;
        @include md(){
            margin-bottom: 10px;
            margin-top: 50px;
        }
    }
    &__divider{
        margin-top: 45px;
        margin-bottom: 45px;
        @include md(){
            margin-top: 15px;
            margin-bottom: 45px;
        }
    }
    &__wrapper-item{
        width: 100%;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    &__wrapper-column:nth-child(3){
        text-align: end;
        @include md(){
            margin-top: 40px;
            text-align: start;
        }
    }
    &__icons{
        margin-left: 10px;
        // margin-bottom: 10px;
        @include md(){
            margin-left: 0px;
            margin-right: 20px;
        }
    }
}