.c-image-and-steps {
	&__wrapper {
		padding-top: 80px;
		padding-bottom: 80px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		@include lg() {
			flex-direction: column;
			align-items: baseline;
		}
	}
	&__wrapper-image {
		display: flex;
		width: 45%;
		align-items: stretch;
		@include md() {
			width: 80%;
			margin-bottom: 50px;
		}
		@include xs() {
			width: 100%;
		}
	}
	&__wrapper-steps {
		width: 35%;
		@include xl() {
			width: 48%;
		}
		@include lg() {
			width: 50%;
		}
		@include md() {
			width: 80%;
			margin-bottom: 25px;
		}
		@include xs() {
			justify-content: center;
			width: 80%;
		}

		&-step {
			padding-bottom: 50px;

			&-text-counter {
				color: var(--color-gray);
				text-shadow: 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black,
					0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black,
					0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black,
					0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black,
					0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black;
				padding-bottom: 10px;
			}
		}
	}
	&__image {
		height: 100%;
		width: 80%;
		object-fit: cover;
		object-position: 100% 0;
		@include xs() {
			width: 80%;
		}
	}
	&__text {
		width: 70%;
	}
	&__large-text {
		margin-bottom: 50px;
	}
	&__min-text {
		margin-bottom: 10px;
	}
	&__number-step{
		margin-bottom: 8px;
	}
}
