.c-icons-row {
	&__wrapper {
		padding-top: 75px;
		padding-bottom: 75px;
		@include lg() {
			padding-top: 60px;
			padding-bottom: 40px;
		}
	}
	&__wrapper-content {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
	}

	&__title {
		text-align: center;
		margin-bottom: 2.5rem;
		@include sm() {
			text-align: start;
		}
	}
}
